# Ignore build artifacts
/build/
*.o
*.a

# Ignore temporary files
*.log
*.tmp
*.swp

# Ignore macOS system files
.DS_Store

# Ignore IDE/editor files
.vscode/
.VSC*
.idea/

#ignore zig cache
.zig-cache/

#ignore zig output
zig-out/

#ignore codegen
static_lib.zig
